* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(mercadolegal2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.header-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
    background-color: #270070;
    border-radius: 20px;
}

.header-topo img {
    max-width: 100px;
    height: auto;
    margin-bottom: 40px;
}

h1 {
    color: #ffffff;
    margin-bottom: 0;
}

.container {
    max-width: 670px;
    background-color: #ffffff;
    margin: 140px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.301);
    border: solid #270070 2px;
}

/*Formulário*/
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

.form-group {
    display: flex;
    flex-direction:  column;
    gap: 5px;
}

label {
    font-weight: bold;
    font-size: 14px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #000000;
}

/*Botões*/
button {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-primary{
    background-color: #270070;
    color: white;
}

.btn-primary:hover {
    background-color: #4300be;
}

.btn-danger{
background-color: #dc2626;
color: white;
}

.btn-danger:hover {
    background-color: #b91c1c;
}

/*Resumo / Painel*/
.resumo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 2px solid #e2e8f0;
}

#total-estoque {
    font-size: 18px;
    color: #0f172a;
}

/*Tabela*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 0.5px solid #cbd5e1;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #270070;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f8fafc;
}

/* Botão de remoção individual dentro da tabela */
.btn-remover {
    background-color: #ef4444;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.btn-remover:hover {
    background-color: #dc2626;
}